@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application is intended to provide a central area to collect test results data and provide feedback on the current status of test stations.</p>
