@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h4>Test case execution</h4>
<p>The application allows any user (test case developer) to queue up their test case and see an estimated completion time based on previous execution.</p>
<h4>Test stations</h4>
<p>The home page is intended to give a high level overview of what the PC is currently doing and what is queued up, so the user can make a decision on where to run their test case.</p>
<h4>Test station status</h4>
<p>This shows a detailed view of the current activity on a test station, this includes the step the current test is running (and recent history), the test cases that are part of the current batch and the test cases in the queue.</p>
<h4>Test reporting</h4>
<p>Since that site is now the hub of ATS test stations, and is able to collect data in a centralised place, this would be a logical places to offer some reporting (features not provided in TeamCity test cases)</p>

<img src="~/Content/Images/DSC_3958.jpg" height="800" width="500" /> 
