@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Landis+Gyr<br />
    <br />
    <abbr title="Phone">P:</abbr>
    
</address>

<address>
    <strong>ATS Guru:</strong>   <a href="mailto:Walter.Rogenmoser@landisgyr.com">Walter.Rogenmoser@landisgyr.com</a><br />
    <strong>Test case expert:</strong> <a href="mailto:david.kitcherside@landisgyr.com">david.kitcherside@landisgyr.com</a>
</address>