@{
    ViewBag.Title = "Home Page";
}

@model TestStationStatus.Models.HomeViewModel


@section scripts{
    @*/* load your scripts here. You can exclude jQuery,
        coz it's already in the template */ *@
    <script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/signalr/hubs"></script>


    <!--Add script to update the page and send messages.-->
    <script type="text/javascript">
        var chat;

        $(function () {
            $.connection.hub.logging = true;

            chat = $.connection.monitorHub;
            chat.client.statusAUpdated = statusAUpdated;
            chat.client.statusBUpdated = statusBUpdated;

            $.connection.hub.start({ transport: 'longPolling' });
        });

        function statusAUpdated(message) {
            $('#statusA').text(message);
        };

        function statusBUpdated(message) {
            $('#statusB').text(message);
        };

        $.connection.hub.error(function (err) {
           // alert("An error occured: " + err);
        });
    </script>
}




<style type="text/css">
.btn-test {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
  background-image:url('../../img/LargeWhiteCogs.png');
  width :200px;
  height:50px;
}
</style>

<img src="~/img/maxresdefault.jpg" width="800" height="100" />

<div class="row">
    <div class="col-md-4">
        <h2>Status Page @Environment.MachineName</h2>
        <p>
        </p>
        <p><a class="btn btn-test"  href="~/status" >Status Page</a></p>
        <p><a class="btn btn-test" href="~/statusB">Status Page B</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test Case reporting</h2>
        <p></p>
        <p><a class="btn btn-default" href="~/Views/Status/Index.cshtml">Test link</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test Case queueing</h2>
        <p></p>
        @using (Html.BeginForm("Upload2", "Status", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <p id="statusA">*Loading*</p>
            <p>
                @Html.TextBoxFor(m => m.filesA, new { type = "file", name = "file", multiple = "multiple" })
                <input type="submit" value="Queue A" />
            </p>
        }
        @using (Html.BeginForm("Upload2", "StatusB", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <p id="statusB">*Loading*</p>
            <p>
                @Html.TextBoxFor(m => m.filesB, new { type = "file", name = "file", multiple = "multiple" })
                <input type="submit" value="Queue B" />
            </p>
        }
    </div>

       <!-- <iframe id="status1" width="800" height="800" src="~/status/Status" name="targetframe" allowTransparency="true" scrolling="no" frameborder="0"></iframe>
        <iframe id="status2" width="800" height="800" src="~/statusB/status" name="targetframe" allowTransparency="true" scrolling="no" frameborder="0"></iframe>
           -->

